@model cmcglynn_blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center; font-size:50px">POST</h2>

<div>
    <h4 style="text-align:center; font-size:45px">Details</h4>
    <hr />
    <section id="profile" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7 match-height">
                        <!-- PROFILE TEXT START -->
                        <div class="profile-text padding-right-yes">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<h2 class="section-title">@Html.DisplayFor(modelItem => Model.Title)</h2>*@
                                    <a href="@Url.Action("Details", "Posts", new { slug = Model.Slug })" class="section-title">@Model.Title</a>
                                    <p>
                                        @Html.Raw(Model.Body)
                                    </p>
                                    <span class="divider"></span>
                                    <p class="text-grey">
                                        @Html.DisplayFor(modelItem => Model.Created)
                                    </p>
                                    <p class="text-grey">
                                        @Html.DisplayFor(modelItem => Model.Published)Published
                                    </p>
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //PROFILE TEXT END -->
                        <!-- CONTACT DETAILS START -->
                        <div class="contact-details padding-right-yes">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <h4></h4>
                                    <ul class="list-unstyled text-grey">

                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("Delete", "Delete", new { id = Model.Id })</li>
                                        }
                                        <li>@Html.ActionLink("Details", "Details", new { slug = Model.Slug })</li>

                                    </ul>
                                </div>
                                <!-- //.col-md-5 -->
                                @*<div class="col-sm-6 col-md-7">
                                    <a href="@Url.Action("Create", "Comments")" class="btn btn-lg btn-custom">
                                        Leave a Comment
                                    </a>
                                </div>*@
                                <!-- //.col-md-6 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //CONTACT DETAILS END -->
                    </div>
                    <!-- //.col-md-7 -->
                    <!-- PROFILE PICTURE START -->
                    <div class="col-md-5 hidden-xs hidden-sm match-height pp-wrapper">
                        <div class="profile-picture style-one">
                            <div class="row">
                                <div class="col-md-12" style="max-width:325px">
                                    @*if (Model.MediaUrl != null)
                                        {*@
                                    @*<img class="img-responsive" src="@Model.MediaUrl" alt="">*@
                                    <a href="@Url.Action("Details", "Posts", new { slug = Model.Slug })"><img class="img-responsive" src="@Model.MediaUrl" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //PROFILE PICTURE END -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        @if (Request.IsAuthenticated)
        {
            
            <div style="padding: 15px">
                <p>Leave a Comment</p>
                @using (Html.BeginForm("Create", "Comments"))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="PostId" value="@Model.Id"/>
                    <textarea id="editor" class="form-control" name="Body" rows="5"></textarea>
                    <br />
                    <input type="submit" class="btn btn-default" vaue="Submit"/>
                }
            </div>
        }

        <!-- //.container -->
        @foreach (var comment in Model.Comments)
        {
            <hr />
            <div class="card" style="padding: 15px">
                <div class="card-header">
                    Left by @comment.Author.FullName at @comment.Created
                </div>
                <div class="card-block">
                    <p class="card-text">@Html.Raw(comment.Body)</p>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <a href="@Url.Action("Edit", "Comments", new { id = comment.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", "Comments", new { id = comment.Id })" class="btn btn-primary">Delete</a>
                    }
                </div>
            </div>      
            }
    </section>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
            $(function () {
                tinymce.init({
                    selector: '#editor'
                });
            });
    </script>
}
