@model cmcglynn_blog.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align:center; font-size:50px">Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="text-align:center; font-size:40px">Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div style="margin-left:300px;margin-right:400px" class="form-group" class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-left:300px;margin-right:400px" class="form-group">
            @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Published, new { htmlAttributes = new { @class = "form-control" } })
                @*<textarea id="editor" class="form-control" name="Body" rows="5"></textarea>
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })*@

            </div>
        </div>

        <div style="margin-left:300px;margin-right:400px" class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })*@
                <textarea id="editor" class="form-control" name="Body" rows="5">@Html.Raw(Model.Body)</textarea>
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                @*@Html.Raw(Model.Body)*@
            </div>
        </div>

        <div style="margin-left:300px;margin-right:400px" class="form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Updated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Updated, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.MediaUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MediaUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MediaUrl, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div style="margin-left:300px;margin-right:400px" class="form-group">
            <label class="control-label col-md-2">Upload Image</label>
            <div class="col-md-10">
                <input name="image" type="file" class="form-control" />  @*INPUT TO UPLOAD IMAGES*@
            </div>
        </div>
      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div style="margin-left:200px;">
    <button style="border-radius:8px;color:black;border-color:white">@Html.ActionLink("Back to Blogs", "Index")</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript">
    $(function () {
        tinymce.init({
            selector: '#editor'
        });
    });
</script>
}
